name: Approve Renovate PR
on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  approve:
    if: github.actor == 'renovate[bot]' && github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Approve
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.AUTO_APPROVE_PAT }}
          script: |
            await github.rest.pulls.createReview({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number,
              event: 'APPROVE'
            })
